.hero__text {
  background-image: url(../imagenes/pizzalunaportada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  text-align: center;
  font-size: 2.4rem;
  margin-top: 3rem;
}
